@import "fonts";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "vars";
@import "mixins";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans';
  font-size: 2rem;
  line-height: 2.72rem;
  font-weight: 400;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}


/* Blocks */

@import "importsBlocks.scss";




.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  padding-right: 13rem;
  padding-left: 13rem;
  @include breakpoint($xl-bp) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  @include breakpoint($sm-bp) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.img-contain {
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.img-cover {
  display: block;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}