.menu {
  @include breakpoint($xl-bp) {
    z-index: -1;
  }
  nav {
    ul {
      display: flex;
      gap: 4rem;
      flex-wrap: wrap;

      padding-left: 3rem;
      @include breakpoint($xl-bp) {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        gap: 1.5rem;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
      }
    }

    .active {
      font-weight: 700;
    }
  }

  @include breakpoint($xl-bp) {
    transition: transform .3s;
    will-change: transform;
    position: absolute;
    top: 9.2rem;
    left: 0;
    transform: translate3d(0, calc(-100% - 9.2rem), 0);
    background-color: var(--black);
    width: 100%;
  }
  @include breakpoint($sm-bp) {
    top: 7.2rem;
  }
}

.menu--open {
  transform: translate3d(0, 0, 0);
}

.menu-button {
  width: 2.2rem;
  height: 1.5rem;
  background-color: transparent;
  border: 0;

  z-index: 4;
  display: none;
  position: relative;
  flex: 0 0 auto;
  margin-left: 0.5rem;

  .burger-button-close {

    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
      width: 100%;
      height: 0.2rem;
      border-radius: 0.1rem;
      background-color: var(--white);
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: center center;
      transition: transform 0.3s ease, opacity 0.3s ease;
      @include breakpoint($sm-bp) {
        top: 39%;
      }
    }

    #first-line-burger {
      top: 0%;
    }

    #third-line-burger {
      top: unset;
      bottom: 0%;
    }
  }

  @include breakpoint($xl-bp) {
    display: block;
  }
  @include breakpoint($sm-bp) {
    width: 1.8rem;
    height: 1.2rem;
  }
}

.header__menu-button--active,
.menu-button--active {
  .burger-button-close {
    #first-line-burger {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    #second-line-burger {
      transform: translateX(100%);
      opacity: 0;
    }

    #third-line-burger {
      top: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
}