<header class="header header-container">

  <button class="menu-button">
    <span class="burger-button-close">
      <span id="first-line-burger"></span>
      <span id="second-line-burger"></span>
      <span id="third-line-burger"></span>
    </span>
  </button>

  <a href="#" class="header__logo">
    <img src="./assets/images/logo/logo.svg" alt="logo">
  </a>

  {{> menu}}

  <div class="header__contacts">
    <a href="#" class="telegram-contact">
      <svg><use href='#telegramIcon'></use></svg>
    </a>

    <a href="#" class="telegram-contact">
      <svg><use href='#whatsupIcon'></use></svg>
    </a>

    <a class="header__tel" href="tel:+79255179971">
      <span>+7 (925) 517-99-71</span>
      <svg><use href='#telIcon'></use></svg>
    </a>
  </div>

</header>

<div class="header-cork"></div>