<section class="delivery py-80 container">
  <h2 class="h2" data-aos="fade-up">Доставка, гарантия, варианты оплаты</h2>
  <ul class="delivery-list mt-40">
    <li class="delivery-item">
      Доставка товара, замер и монтаж <strong>входят</strong> в стоимость заказа. <strong>Доставка
      осуществляется компанией Kondoor по всем городам России.</strong>
    </li>
    <li class="delivery-item">
      Гарантийный срок на всю нашу мебель <strong>12 месяцев</strong>, при этом есть
      возможность пересмотра и увеличения этого срока в зависимости от Ваших
      потребностей и желаний. При возникновении каких-либо проблем или
      дефектов в течение этого срока, мы будем рады помочь вам в ремонте.
    </li>
    <li class="delivery-item">
      <p>Вы можете выбрать <strong>любой удобный Вам способ оплаты</strong>:</p>
      <ul class="delivery-sublist mt-25">
        <li class="delivery-subitem">По счёту для физических и юридических лиц;</li>
        <li class="delivery-subitem">Наличными или картой лично при подписании и отгрузке товара</li>
      </ul>
      <p class="mt-25">
        При заключении договора необходима предоплата в 10%, оплата
        оставшейся суммы осуществляется по согласованию с заказчиком.
      </p>
    </li>
  </ul>
</section>