<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <!-- Preloader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <!-- <svg><use href='#logoPreload'></use></svg> -->
      <div class="loader-section section-left">
        <p>KON</p>
      </div>
      <div class="loader-section section-right">
        <p>DOOR</p>
      </div>
    </div>

    {{> sprite }}

    <div class="page">
        
        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}

        <!-- Back to Top-->
        <button class="backToTop">
          <svg><use href='#prevIcon'></use></svg>
        </button>
    </div>

    <!-- JS -->
    <script src="assets/js/vendor.js?1"></script>
    <script src="assets/js/app.js?2"></script>
    <script src="assets/js/temp.js?1"></script>
    <script>
      window.onload = function () {
        document.documentElement.classList.add('loaded');
      }
    </script>
</body>

</html>